@model MVC_Day_6.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>

    <hr />
    
    <table class="table table-bordered">
        <tr class="thead-dark">
            <th>Departmenst</th>
        </tr>
        @foreach (var item in ViewBag.depts)
        {
            <tr>
                <td>
                    @item.DeptName
                </td>
            </tr>
        }
    </table>
    <hr />

    <table class="table table-bordered">
        <tr class="thead-dark">
            <th>Students</th>
        </tr>
        @foreach (var item in ViewBag.stds)
        {
            <tr>
                <td> @item.Name</td>
               
               
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger ml-2" })
</p>
